registry=https://registry.npmmirror.com/
sass_binary_site=https://npmmirror.com/mirrors/node-sass
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs
electron_mirror=https://npmmirror.com/mirrors/electron